<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MyCar">

	<resultMap type="com.kh.onepart.resident.my_home.my_car.model.vo.MyCar" id="MyCarResultSet">

		<id property="residentSeq" column="RESIDENT_SEQ"/>
		<result property="residentEnrollCar" column="RESIDENT_ENROLL_CAR"/>
		<result property="residentNm" column="RESIDENT_NM"/>
		<result property="carType" column="CAR_TYPE"/>
		<result property="carNm" column="CAR_NM"/>
		<result property="enrollPurpose" column="ENROLL_PURPOSE"/>
		<result property="enrollDt" column="ENROLL_DT"/>
		<result property="carNum" column="CAR_NUM"/>
		<result property="bdNm" column="BD_NM"/>
		<result property="rmNm" column="RM_NM"/>
	</resultMap>

	<select id="selectListAll" resultMap="MyCarResultSet">
		SELECT BD_NM, RM_NM, RESIDENT_NM, CAR_TYPE, CAR_NM, ENROLL_DT, ENROLL_PURPOSE,  CAR_NUM
		FROM RESIDENT_ENROLL_CAR REC
		JOIN RESIDENT R ON(REC.RESIDENT_SEQ = R.RESIDENT_SEQ)
		JOIN APT_DETAIL_INFO ADI ON (R.APT_DETAIL_INFO_SEQ = ADI.APT_DETAIL_INFO_SEQ)
		WHERE R.APT_DETAIL_INFO_SEQ = (SELECT APT_DETAIL_INFO_SEQ FROM RESIDENT WHERE RESIDENT_SEQ = #{residentSeq})
	</select>


</mapper>
