<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="complaint">
	<resultMap type="ComplaintVo" id="complaintResult">
		<id property="complaintSeq" column="COMPLAINT_SEQ"/>
		<result property="complaintTitle" column="COMPLAINT_TITLE"/>
		<result property="residentSeq" column="RESIDENT_SEQ"/>
		<result property="complaintContent" column="COMPLAINT_CONTENT"/>
		<result property="complaintEnrollDt" column="COMPLAINT_ENROLL_DT"/>
		<result property="complaintStatus" column="COMPLAINT_STATUS"/>	
	</resultMap>

	<select resultType="complaintResult"
		id="moveComplaint">
		SELECT COMPLAINT_SEQ, COMPLAINT_TITLE,
		RESIDENT_SEQ,COMPLAINT_CONTENT, COMPLAINT_ENROLL_DT,
		COMPLAINT_STATUSFROM COMPLAINT
		FROM COMPLIANT
		ORDER BY COMPLAINT_SEQ 
	</select>

</mapper>