<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ResidentCar">

	<resultMap type="com.kh.onepart.manager.car_manage.model.vo.ResidentCarVO" id="ResidentCarVOResultSet">
		<id property="residentSeq" column="RESIDENT_SEQ"/>
		<result property="residentEnrollCar" column="RESIDENT_ENROLL_CAR"/>
		<result property="residentNm" column="RESIDENT_NM"/>
		<result property="carType" column="CAR_TYPE"/>
		<result property="carNm" column="CAR_NM"/>
		<result property="enrollPurpose" column="ENROLL_PURPOSE"/>
		<result property="enrollDt" column="ENROLL_DT"/>
		<result property="carNum" column="CAR_NUM"/>
		<result property="bdNm" column="BD_NM"/>
		<result property="rmNm" column="RM_NM"/>
	</resultMap>

	<select id="residentCarList" resultMap="ResidentCarVOResultSet">
		SELECT RESIDENT_ENROLL_CAR, BD_NM, RM_NM, CAR_NUM, ENROLL_PURPOSE, CAR_NM, CAR_TYPE, RESIDENT_NM
		FROM RESIDENT_ENROLL_CAR REC
        JOIN RESIDENT R ON(R.RESIDENT_SEQ = REC.RESIDENT_SEQ)
        JOIN APT_DETAIL_INFO ADIS ON (R.APT_DETAIL_INFO_SEQ = ADIS.APT_DETAIL_INFO_SEQ)
	</select>


	<insert id="addResidentCar">
		INSERT INTO RESIDENT_ENROLL_CAR
			(RESIDENT_ENROLL_CAR, RESIDENT_SEQ, CAR_TYPE, CAR_NM, ENROLL_PURPOSE, ENROLL_DT, CAR_NUM)
		VALUES
			(RESIDENT_ENROLL_CAR_SEQ.nextval, (SELECT RESIDENT_SEQ
                                                FROM RESIDENT
                                                WHERE APT_DETAIL_INFO_SEQ = (SELECT APT_DETAIL_INFO_SEQ
                                                                             FROM APT_DETAIL_INFO
                                                                             WHERE BD_NM = #{bdNm} AND RM_NM = #{rmNm} )
                                                AND RESIDENT_NM = #{residentNm}),
                                                #{carType}, #{carNm}, #{enrollPurpose},sysdate, #{carNum})
	</insert>

	<delete id="deleteResidentCar" parameterType="String">
		DELETE
		FROM RESIDENT_ENROLL_CAR
		WHERE RESIDENT_ENROLL_CAR = #{residentEnrollCar}
	</delete>

	<select id="selectResidentCar" parameterType="ResidentCarVO" resultMap="ResidentCarVOResultSet">
		SELECT *
		FROM RESIDENT_ENROLL_CAR
		WHERE CAR_NUM=#{carNum}
	</select>
</mapper>
